    <div id="traveltable" class="login-wrapper d-flex align-items-center table ">
        <div class="container form-login">
            <h2 class="d-flex justify-content-center">Administración de Viajes</h2>
            <table class="table table-condensed table-responsive">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Viaje</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th>Activo</th>
                </tr>
                </thead>
                <tbody>
                {{#each retrieveTravel}}

                        <tr>
                            <td>{{id}}</td>
                            <td>{{travel}}</td>
                            <td>{{description}}</td>
                            <td>{{price}}</td>
                            <td>{{tipo}}</td>

                            <td><input type="checkbox"  onclick='window.location.assign("/admintable/hideTravel/{{id}}")' {{#if active}}checked{{/if}}></td>
                           <!-- <td><a href="/hideTravel:{{id}}"><input type="checkbox" {{#if active}}checked{{/if}}></a></td> -->
                        </tr>

                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
